<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Games Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home_style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">
</head>
<body>
    <h1>Machine Learning Games</h1>
    <div id="game-options">
        <button onclick="location.href='{{ url_for('snake') }}'">Snake</button>
        <button onclick="location.href='{{ url_for('pong') }}'">Pong</button>
    </div>
</body>
</html>