<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake: ML model</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
</head>
<body>
    <h1>Snake Bot</h1>
    <div id="content-container">
        <div id="windows-container">
            <div id="game-window">
                <canvas id="game-canvas" width="640" height="480" class="game-canvas"></canvas>
            </div>
            <div id="start-and-record">
                <button id="start-button">Start Training</button>
                <span id="score">Score: 0</span>
                <span id="record">Record: 0</span>
            </div>
            <div id="plot-container">
                <img id="plot">
            </div>
        </div>
    </div>
    
    <script>
        const socket = io();

        document.getElementById('start-button').addEventListener('click', () => {
            fetch('/start_game', {
                method: 'POST',
            }).then(response => response.json())
            .then(data => console.log(data));
        }); 

        socket.on('start_training', () => {
            console.log('Training started');
            document.getElementById('start-button').innerText = 'Training in progress';
        })
    
        socket.on('frame_update', (data) => {
            const gameCanvas = document.getElementById('game-canvas');
            const context = gameCanvas.getContext('2d');
            const image = new Image();
            image.src = 'data:image/png;base64,' + data.frame;
            image.onload = () => {
                context.drawImage(image, 0, 0);
            };
            console.log("Frame data:", data.frame.slice(0, 50) + '...');  // log partial frame data for debugging
        });
    
        socket.on('plot_update', (data) => {
            const plotImg = document.getElementById('plot');
            plotImg.src = 'data:image/png;base64,' + data.plot;
            console.log("Plot data:", data.plot.slice(0, 50) + '...');  // log partial plot data for debugging
        });
    
        socket.on('game_update', (data) => {
            document.getElementById('score').innerText = "Score: " + data.score;
            document.getElementById('record').innerText = "Record: " + data.record;
        });
    </script>
</body>
</html>